// Colours
$color-primary:  #4F6296;
$color-primary-light: #6A80BA;
$color-primary-dark: rgb(82, 73, 158);
$color-primary-dark-hover: rgb(113, 97, 255);

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-white: #fff;
$color-black: #000;

